<div class="table-responsive" *ngIf="carregado">
  <button class="btn btn-primary mx-2 my-2" (click)="adicionar()">Adicionar</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Razão Social</th>
        <th>CNPJ</th>
        <th>Status</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proposta of propostas">
        <td>{{proposta.id}}</td>
        <td>{{proposta.cliente.razaoSocial}}</td>
        <td>{{proposta.cliente.cnpj}}</td>
        <td>{{proposta.status}}</td>
        <td>{{proposta.data}}</td>
        <td>{{proposta.valor}}</td>
        <td>
          <button class="btn btn-primary mx-1" (click)="editar(proposta)">Editar</button>
          <button class="btn btn-danger mx-1" (click)="remover(proposta.id)">Remover</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<div *ngIf="!carregado">
  Carregando...
</div>
