<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID Cliente</th>
        <th>Razão Social</th>
        <th>CNPJ</th>
        <th>ID Proposta</th>
        <th>Status</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proposta of propostas">
        <td>{{proposta.cliente.id}}</td>
        <td>{{proposta.cliente.razaoSocial}}</td>
        <td>{{proposta.cliente.cnpj}}</td>
        <td>{{proposta.id}}</td>
        <td>{{proposta.status}}</td>
        <td>{{proposta.data}}</td>
        <td>{{proposta.valor}}</td>
        <td>Editar | Excluir</td>
      </tr>
    </tbody>
  </table>

</div>
