<div *ngIf="carregado">
    <h1>{{titulo}} - Cliente</h1>
    <form>
        <div *ngIf="contato.id !== null">
        <h4>ID : {{contato.id}}</h4>
        </div>
        
        <div class="form-group">
        <input class="form-control" type="hidden" [(value)]="contato.id">
        </div>
        <div class="form-group">
        <label>CNPJ:</label>
        <input class="form-control" type="text" id="cnpj" name="cnpj" [(ngModel)]="contato.cnpj">
        </div>
        <div class="form-group">
        <label>E-mail:</label>
        <input class="form-control" type="email" id="email" name="email" [(ngModel)]="contato.email">
        </div>
        <div class="form-group">
        <label>Razão Social:</label>
        <input class="form-control" type="text" id="razaoSocial" name="razaoSocial" [(ngModel)]="contato.razaoSocial">
        </div>
        <div class="form-group">
            <label for="telefone">Telefone</label>
            <input class="form-control" type="text" name="telefone" id="telefone" [(ngModel)]="contato.telefone" >
        </div>

        <button class="btn btn-primary" (click)="salvar(contato)">Salvar</button>
        <button class="btn btn-secondary mx-1" (click)="voltar()">Voltar</button>
    </form>
</div>
      
