<div *ngIf="carregado">
    <h1>{{titulo}} - Proposta</h1>
    <form>
        <div *ngIf="proposta.id !== null">
        <h4>ID : {{proposta.id}}</h4>
        </div>
        
        <div class="form-group">
        <input class="form-control" type="hidden" [(value)]="proposta.id">
        </div>
        <div class="form-group">
        <label>Descrição:</label>
        <input class="form-control" type="text" id="descricao" name="descricao" [(ngModel)]="proposta.descricao">
        </div>
        <div class="form-group">
        <label>Data da oferta inicial:</label>
        <input class="form-control" type="date" id="data" name="data" [(ngModel)]="proposta.data">
        </div>
        <div class="form-group">
        <label>Valor:</label>
        <input class="form-control" type="text" id="valor" name="valor" [(ngModel)]="proposta.valor">
        </div>
        <div class="form-group">
        <label>Status:</label>
        <select class="form-control" id="status" name="status" [(ngModel)]="proposta.status" *ngFor="let status of listaStatus">
            <option [value]="status.valor">{{ status.label }}</option>
        </select>
        </div>
        <div class="form-group">
        <label>Cliente:</label>
        <select class="form-control" id="cliente" name="cliente"
            [(ngModel)]="proposta.cliente.id">
            <option [value]="null">Selecione</option>
            <option *ngFor="let cliente of listaClientes" [value]="cliente.id">{{cliente.razaoSocial}}</option>
        </select>
        </div>
        <button class="btn btn-primary" (click)="salvar(proposta)">Salvar</button>
        <button class="btn btn-secondary mx-1" (click)="voltar()">Voltar</button>
    </form>
</div>
      
