<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>CNPJ</th>
        <th>Email</th>
        <th>Razão Social</th>
        <th>telefone</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contato of contatos">
        <td>{{contato.id}}</td>
        <td>{{contato.cnpj}}</td>
        <td>{{contato.email}}</td>
        <td>{{contato.razaoSocial}}</td>
        <td>{{contato.telefone}}</td>
        <td (click)="editar(contato)">Editar</td>
        <td (click)="remover(contato.id)">Remover</td>
      </tr>
    </tbody>
  </table>

</div>
