<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>CNPJ</th>
        <th>Razão Social</th>
        <th>E-mail</th>
        <th>Telefone</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contato of contatos">
        <td>{{contato.id}}</td>
        <td>{{contato.cnpj}}</td>
        <td>{{contato.razaoSocial}}</td>
        <td>{{contato.email}}</td>
        <td>{{contato.telefone}}</td>
        <td>Editar | Excluir</td>
      </tr>
    </tbody>
  </table>

</div>
